footer {
  background-color: #f2f2f2;
  padding: 10px 0;
  text-align: center;
  position: fixed;
  bottom: 0;
  width: 100%;
}

.container ul {
  margin-bottom: 0;
}

.container ul li a {
  color: grey;
}

.container ul li a:hover {
  color: rgb(59, 59, 59);
}
